- if partial_for? "navbar"
  = render partial: "navbar"

%nav.navbar
  .navbar-left
    = link_to admin_root_path, class: "navbar-logo" do
      = image_tag "bug_logo.png", class: "logo"
      %span{ class: "hidden md:block" } transientBug Admin

  .navbar-center
    = content_for :navbar_center
    -#%span.search
      %input{ type: "search", role: "search" placeholder: "Search roles ..." }

      .search-icon
        %svg{ class: "fill-current pointer-events-none text-white w-4 h-4", viewBox: "0 0 20 20" }
          %path{ d: "M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" }

  .navbar-right
    %ul
      = content_for :navbar_right

      %li
        .dropdown
          %button.dropdown-trigger
            %span{ class: "pr-2" }
              %img
            Hi, #{ current_user.username }
            %svg{ class: "h-3 fill-current inline", viewBox: "0 0 20 20" }
              %path{ d: "M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" }

          .dropdown-menu.hidden
            - if content_for? :navbar_dropdown
              = content_for :navbar_dropdown
              .divider
            = link_to "Exit Admin", root_path, class: "dropdown-item"
            .divider
            = link_to "Logout", logout_path, class: "dropdown-item"


