- if partial_for? "navbar"
  = render partial: "navbar"

%nav.navbar
  .navbar__container
    .navbar__inner
      .navbar__section
        = link_to admin_root_path, class: "navbar__logo-link" do
          = image_tag "bug_logo.png", class: "navbar__logo-img"
        %h2.navbar__logo-header transientBug Admin

      .navbar__section.navbar__section--growable
        .navbar__row.navbar__row--centered
          = content_for :navbar_center

      .navbar__section
        .navbar__row
          = content_for :navbar_right

          .dropdown
            %button.dropdown__trigger.navbar__button( zob-on-click="{ open: true }" )
              Hi, #{ current_user.username }

              %svg{ class: "h-3 fill-current inline", viewBox: "0 0 20 20" }
                %path{ d: "M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" }

            .dropdown__container.dropdown__container--closed( zob-bind-class="{ open: '.dropdown__container--opened' }" )
              .dropdown__menu
                - if content_for? :navbar_dropdown
                  .dropdown__row
                    = content_for :navbar_dropdown
                  .dropdown__divider

                .dropdown__row
                  = link_to "Exit Admin", root_path, class: "dropdown__link"

                .dropdown__divider
                .dropdown__row
                  = link_to "Logout", logout_path, class: "dropdown__link"
