- content_for :page_title do
  = @invite.title

- content_for :non_fluid_body do
  .ui.middle.aligned.center.aligned.grid
    .column
      %h2.ui.header
        .content= @invite.title

      %p
        = @invite.description

      = form_for @user, url: invite_path(@invite.code), method: :patch, class: "ui form" do
        - if @user.errors.any?
          .ui.message.error
            %h2= "#{ pluralize @user.errors.count, "error" } prohibited this user from being saved:"
            %ul
              - @user.errors.full_messages.each do |message|
                %li= message

        .ui.segment
          .required.field
            = f.label :username
            .ui.left.icon.input
              %i.user.icon
              = f.text_field :username, placeholder: "Username"

          .required.field
            = f.label :email
            .ui.left.icon.input
              %i.user.icon
              = f.text_field :email, placeholder: "Email"

          .required.field
            = f.label :password
            .ui.left.icon.input
              %i.lock.icon
              = f.password_field :password, placeholder: "**************"

          .required.field
            = f.label :password_confirmation
            .ui.left.icon.input
              %i.lock.icon
              = f.password_field :password_confirmation, placeholder: "**************"

          = f.submit "Register", class: "ui right floated green submit button"
