- content_for :page_title do
  = @invitation.title

%h2= @invitation.title
%p= @invitation.description

= form_with model: @user, url: invite_path(@invitation.code), method: :patch, class: "" do |f|
  - if @user.errors.any?
    %h2= "#{ pluralize @user.errors.count, "error" } prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

  = f.label :username
  = f.text_field :username, placeholder: "Username"

  = f.label :email
  = f.text_field :email, placeholder: "Email"

  = f.label :password
  = f.password_field :password, placeholder: "**************"

  = f.label :password_confirmation
  = f.password_field :password_confirmation, placeholder: "**************"

  = f.submit "Register", class: ""
