- if bookmarks.any?
  .ui.menu
    .ui.item= select_all_checkbox

    = bulk_edit_action "recache-all", url: bookmarks_bulk_recache_path, template: "public/templates/bookmarks/recache-all" do
      %i.download.icon
      recache

    = bulk_edit_action "tag-all", url: bookmarks_bulk_tag_path, template: "public/templates/bookmarks/tag-all" do
      %i.tags.icon
      tags

    .right.menu
      = bulk_edit_action "delete-all", url: bookmarks_bulk_delete_path, template: "public/templates/bookmarks/delete-all" do
        %i.trash.icon
        delete all

  .ui.feed
    - bookmarks.each do |bookmark|
      .event
        .label
          %i.bookmark.icon
        .content
          .summary
            = model_tag bookmark, only: [:uri, :title]

            = link_to bookmark.title, bookmark_path(bookmark), class: "title"
            .date
              = distance_of_time_in_words_to_now(bookmark.created_at)
              ago

          = link_to bookmark.uri.to_s, bookmark.uri.to_s

          - if bookmark.description.present?
            = bookmark.description&.truncate(240)
            = link_to "read more", bookmark_path(bookmark)

          .ui.fluid.text.menu
            .ui.item
              %i.tags.icon
              = bookmark.tags.length
              = "tag".pluralize(bookmark.tags.length)
            = link_to "offline cache", bookmark_cache_index_path(bookmark), data: { turbolinks: false }, class: "ui item"
            = link_to "edit", edit_bookmark_path(bookmark), class: "ui item"
            .right.menu
              = modal_tag bookmark, url: bookmark_path(bookmark), template: "public/templates/bookmarks/delete" do
                delete

          .ui.divider

- else
  %h1.huge.center.aligned.icon.header
    %i.bookmark.icon
    .content No bookmarks found!

  %p
    Maybe
    = link_to "make one?", new_bookmark_path

- if bookmarks.respond_to? :total_pages
  = paginate bookmarks
