- if bookmarks.any?
  .ui.menu
    .ui.item= select_all_checkbox

    = bulk_edit_action "recache-all", url: bookmarks_bulk_recache_path, template: "public/templates/bookmarks/recache-all" do
      %i.download.icon
      recache

    = bulk_edit_action "tag-all", url: bookmarks_bulk_tag_path, template: "public/templates/bookmarks/tag-all" do
      %i.tags.icon
      tags

    .right.menu
      = bulk_edit_action "delete-all", url: bookmarks_bulk_delete_path, template: "public/templates/bookmarks/delete-all" do
        %i.trash.icon
        delete all

  .ui.relaxed.divided.bookmarks.list
    - bookmarks.each do |bookmark|
      .ui.item
        .right.floated.content
          .ui.labels
            - bookmark.tags.each do |tag|
              = link_to bookmarks_tag_path(tag) do
                .ui.label{ class: [tag.color] }= tag.label

        .content
          .inline
            = model_tag bookmark, only: [:uri, :title]

            .header= link_to bookmark.title, bookmark_path(bookmark)

            .date
              = distance_of_time_in_words_to_now(bookmark.created_at)
              ago

          .description
            = link_to bookmark.uri.to_s, bookmark.uri.to_s

- else
  %h1.huge.center.aligned.icon.header
    %i.bookmark.icon
    .content No bookmarks found!

  %p
    Maybe
    = link_to "make one?", new_bookmark_path

- if bookmarks.respond_to? :total_pages
  = paginate bookmarks
