- if bookmarks.any?
  - content_for :secondary_navbar do
    .ui.item
      = select_all_checkbox do
        %label
          .mobile.only Select All

    = bulk_edit_action "recache-all", url: bookmarks_bulk_recache_path, template: "public/templates/bookmarks/recache-all" do
      %i.download.icon
      recache

    = bulk_edit_action "tag-all", url: bookmarks_bulk_tag_path, template: "public/templates/bookmarks/tag-all" do
      %i.tags.icon
      tags

    .right.menu
      = bulk_edit_action "delete-all", url: bookmarks_bulk_delete_path, template: "public/templates/bookmarks/delete-all" do
        %i.trash.icon
        delete all

  .ui.divided.items
    - bookmarks.each do |bookmark|
      .item
        .content

          .header= link_to bookmark.title, bookmark_path(bookmark)

          .meta
            = link_to bookmark.uri.to_s, bookmark.uri.to_s

          .description
            .inline
              = model_tag bookmark, only: [:uri, :title]

              .date
                = distance_of_time_in_words_to_now(bookmark.created_at)
                ago

          .extra
            .ui.labels
              - bookmark.tags.each do |tag|
                = link_to bookmarks_tag_path(tag) do
                  .ui.label{ class: [tag.color] }= tag.label

- else
  %h1.huge.center.aligned.icon.header
    %i.bookmark.icon
    .content No bookmarks found!

  %p
    Maybe
    = link_to "make one?", new_bookmark_path

- if bookmarks.respond_to? :total_pages
  = paginate bookmarks
