%section( aria-labelledby="bookmark_form" )
  = form_with model: bookmark, data: { turbo: false }, html: { autocomplete: "off" } do |f|
    = render CardComponent.new do |c|
      -#= c.header do
        .ml-4.mt-4
          %h2#bookmark_form.text-lg.leading-6.font-medium.text-gray-900.truncate
            - if bookmark.new_record?
              Create a New Bookmark
            - else
              Updating #{bookmark.title}
          -#%p.mt-1.text-sm.text-gray-500 

      = c.body do
        - if bookmark.errors.any?
          %h2= "#{ pluralize bookmark.errors.count, "error" } prohibited this bookmark from being saved:"
          %ul
            - bookmark.errors.full_messages.each do |message|
              %li= message

        .grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :uri, class: "block text-sm font-medium text-gray-700"
            = f.url_field :uri, class: "mt-1 w-full default-input"
            -#%p.mt-2.text-sm.text-gray-500

        .mt-6.grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :title, class: "block text-sm font-medium text-gray-700"
            = f.text_field :title, class: "mt-1 w-full default-input"
            -#%p.mt-2.text-sm.text-gray-500

        .mt-6.grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :tags, class: "block text-sm font-medium text-gray-700"
            = f.text_field :tags, value: bookmark.tags.map(&:label).join(", "), autocomplete: "off", class: "mt-1 w-full default-input"
            -#%p.mt-2.text-sm.text-gray-500

        .mt-6.grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :description, class: "block text-sm font-medium text-gray-700"
            = f.text_area :description, class: "mt-1 w-full default-input"
            -#%p.mt-2.text-sm.text-gray-500

      = c.footer do
        = f.submit class: "btn -primary"
