= form_with model: bookmark, class: "", html: { autocomplete: "off" } do |f|
  - if bookmark.errors.any?
    %h2= "#{ pluralize bookmark.errors.count, "error" } prohibited this bookmark from being saved:"
    %ul
      - bookmark.errors.full_messages.each do |message|
        %li= message

  = f.label :uri
  = f.url_field :uri, value: bookmark.uri.to_s, aria: { describedby: "Bookmark URL" }

  = f.label :title
  = f.text_field :title, aria: { describedby: "Bookmark title" }

  = f.label :tags
  = f.text_field :tags, value: bookmark.tags.map(&:label).join(","), autocomplete: "off", aria: { describedby: "Bookmark tags" }

  = f.label :description
  = f.text_area :description, aria: { describedby: "Bookmark description" }

  = f.submit "Save", class: ""
