= form_for bookmark, html: { class: "ui fluid form" } do |f|
  - if bookmark.errors.any?
    .ui.message.error
      %h2= "#{ pluralize bookmark.errors.count, "error" } prohibited this bookmark from being saved:"
      %ul
        - bookmark.errors.full_messages.each do |message|
          %li= message

  .required.field
    = f.label :uri
    = f.url_field :uri, aria: { describedby: "Bookmark URL" }, value: bookmark.uri.to_s

  .required.field
    = f.label :title
    = f.text_field :title, aria: { describedby: "Bookmark title" }

  .field
    = f.label :description
    = f.text_area :description, aria: { describedby: "Bookmark description" }

  .field
    = f.label :tags
    = f.select :tags, bookmark.tags.map { |t| [ t.label, t.label ] }, {}, { multiple: true, class: "ui multiple search selection dropdown", data: { behavior: "autocomplete-bookmark-tags" } }

  = f.submit "Save", class: "ui positive right floated submit button"
