- content_for :page_title do
  Bookmark '#{ @bookmark.title }'

= render "navbar"

- content_for :body do
  .ui.row
    %h2.ui.header
      .content= @bookmark.title

    = link_to @bookmark.uri_string

  .ui.row
    = link_to "Offline Cache", bookmark_cache_path(@bookmark), data: { turbolinks: false }

  .ui.row
    = @bookmark.description

  .ui.row
    .ui.small.tag.labels
      - @bookmark.tags.each do |tag|
        = link_to tag_bookmarks_path(tag.label) do
          .ui.label{ class: [tag.color] }= tag.label

  .ui.row
    = @bookmark.updated_at.to_date.to_s(:long)
    |
    = link_to "edit", edit_bookmark_path(@bookmark)
    |
    = link_to "delete", bookmark_path(@bookmark), method: :delete, data: { confirm: "really delete '#{ @bookmark.title }'? REALLY?!" }
