%section( aria-labelledby="password_change" )
  = form_with url: password_profile_path, method: :post, data: { turbo: false } do |f|
    = render CardComponent.new do |c|
      = c.header do
        .ml-4.mt-4
          %h2#password_change.text-lg.leading-6.font-medium.text-gray-900 Change Your Password
          %p.mt-1.text-sm.text-gray-500 Keep your account secure.

      = c.body do
        .grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :current_password, "Current Password", class: "block text-sm font-medium text-gray-700"
            = f.password_field :current_password, class: "mt-1 w-full default-input"

        .mt-6.grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :password, "New Password", class: "block text-sm font-medium text-gray-700"
            = f.password_field :password, class: "mt-1 w-full default-input"

        .mt-6.grid.grid-cols-4.gap-6
          .col-span-4.sm:col-span-2
            = f.label :password_confirmation, "Confirm New Password", class: "block text-sm font-medium text-gray-700"
            = f.password_field :password_confirmation, class: "mt-1 w-full default-input"

      = c.footer do
        = f.submit "Change", class: "btn -secondary"
