= form_for user, url: profile_path, method: :post, html: { class: "ui form" } do |f|
  - if user.errors.any?
    .ui.message.error
      %h2= "#{ pluralize user.errors.count, "error" } prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |message|
          %li= message

  .ui.segment
    .field
      = f.label :username
      .ui.left.icon.input
        %i.user.icon
        = f.text_field :username, placeholder: "Email"

    .field
      = f.label :email
      .ui.left.icon.input
        %i.user.icon
        = f.text_field :email, placeholder: "Email"

    = f.submit "Update", class: "ui green submit button"
