%section( aria-labelledby="api_token" )
  .shadow.sm:rounded-md.sm:overflow-hidden
    .bg-white.py-6.px-4.sm:p-6
      %div
        %h2#api_token.text-lg.leading-6.font-medium.text-gray-900 API Token
        %p.mt-1.text-sm.text-gray-500 How you can access the api with personal tools.

        %p
          API Documentation can be found #{ link_to "here.", apitome.root_path }

        %p
          If you are building an app or extension that interacts with the transientBug API, you should make a
          = link_to "new OAuth2 Application", oauth_applications_path
          and make use of the OAuth2 Authorization Code flow if at all possible.

        %p
          You can
          = link_to "click here", oauth_authorized_applications_path
          to see your currently authorized applications and revoke any of them at any time.

        %p

          = text_field_tag "api_token", @user.api_token, disabled: true

          = link_to profile_regenerate_index_path(@service_announcement), class: "", method: :post do
            = feather_svg "refresh-cw", class: "h-5 w-5"
            regenerate
