= form_tag password_profile_path, method: :post, class: "ui form" do
  .ui.error.message

  .required.field
    = label_tag "current_password", "Current Password"
    .ui.left.icon.input
      %i.lock.icon
      = password_field_tag "current_password", "", placeholder: "**************"

  .required.field
    = label_tag "password", "New Password"
    .ui.left.icon.input
      %i.lock.icon
      = password_field_tag "password", "", placeholder: "**************"

  .required.field
    = label_tag "password_confirmation", "Confirm New Password"
    .ui.left.icon.input
      %i.lock.icon
      = password_field_tag "password_confirmation", "", placeholder: "**************"

  = submit_tag "Change", class: "ui right floated green submit button"
