- content_for :page_title do
  Login

= image_tag "bug_logo.png", class: ""
Login

= form_with url: login_path, method: :post, class: "" do
  = text_field_tag "email", "", placeholder: "Email"

  = password_field_tag "password", "", placeholder: "**************"

  = submit_tag "Login", class: ""

  Have an invite code? #{ link_to "Use it!", invites_path }
