- content_for :page_title do
  Login

- content_for :non_fluid_body do
  .ui.middle.aligned.center.aligned.grid
    .column
      %h2.ui.header
        .content Login

      = form_tag login_path, method: :post, class: "ui large form" do
        .ui.error.message
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              %i.user.icon
              = text_field_tag "auth_key", "", placeholder: "Email"

          .field
            .ui.left.icon.input
              %i.lock.icon
              = password_field_tag "password", "", placeholder: "**************"

          = submit_tag "Login", class: "ui fluid large green submit button"

      -#.ui.message
        New user? #{ link_to "Sign Up", register_path }
