- content_for :page_title do
  Bookmark '#{ @bookmark.title }'

- content_for :secondary_navbar do
  - if @bookmark.offline_caches.any?
    = link_to "offline cache", bookmark_cache_index_path(@bookmark), data: { turbolinks: false }, class: "ui item"

  = link_to "edit", edit_bookmark_path(@bookmark), class: "ui item"

  .right.menu
    = modal_tag @bookmark, :delete, url: bookmark_path(@bookmark) do
      delete

.ui.raised.very.padded.text.container.segment
  %h1 Tag Wizard!
  %p
    The tag wizard makes it easy for you to work through your backlog of untagged bookmarks!

  %h3= @bookmark.title

  = link_to @bookmark.uri.to_s, @bookmark.uri.to_s
  = render "components/time", time: @bookmark.created_at

  %hr

  = render partial: 'form', locals: { bookmark: @bookmark }

  - if @bookmark.description.present?
    %h3 Need a little more info?

    %p
      %strong Description:
      :markdown
        #{ @bookmark.description }
