- content_for :page_title do
  Bookmark '#{ @bookmark.title }'

- content_for :sidebar do
  .tb.bulk-action-menu
    %h2 Actions
    = link_to bookmark_path(@bookmark), class: "button button-white-outline hover:button-white text-white hover:text-gray-800" do
      %i.linkify.icon
      View

    = link_to edit_bookmark_path(@bookmark), class: "button button-white-outline hover:button-white text-white hover:text-gray-800" do
      %i.pencil.icon
      Edit

    -# TODO: replace
    = modal_tag @bookmark, :delete, url: bookmark_path(@bookmark), class: "button button-red-outline hover:button-red" do
      %i.trash.can.icon
      Delete

    %h2 Offline Archive

    - if @bookmark.current_offline_cache.present?
      .archive-info
        Archive made
        = render "components/time", time: @bookmark.current_offline_cache.created_at

      = link_to "View Archive", bookmark_cache_index_path(@bookmark), data: { turbolinks: false }, class: "button button-white-outline hover:button-white text-white hover:text-gray-800"
    - else
      .archive-info
        No archive available

%h1 Tag Wizard!
%p
  The tag wizard makes it easy for you to work through your backlog of untagged bookmarks!

%hr

%div{ class: "w-full lg:w-1/3" }
  %h2.font-bold.text-3xl= @bookmark.title

  = link_to @bookmark.uri.to_s, @bookmark.uri.to_s
  = render "components/time", time: @bookmark.created_at

  = render partial: 'form', locals: { bookmark: @bookmark }

  - if @bookmark.description.present?
    :markdown
      #{ @bookmark.description }

  - else
    %em No description ...
