= form_with model: application, url: doorkeeper_submit_path(application), class: "ui fluid form" do |f|
  - if application.errors.any?
    %h2= "#{ pluralize application.errors.count, "error" } prohibited this application from being saved:"
    %ul
      - application.errors.full_messages.each do |message|
        %li= message

  = f.label :name
  = f.text_field :name, aria: { describedby: "Application Name" }

  = doorkeeper_errors_for application, :name

  = f.label :redirect_uri
  = f.text_area :redirect_uri, aria: { describedby: "Application Redirect URLs" }

  = doorkeeper_errors_for application, :redirect_uri

  %p Use one line per URI

  - if Doorkeeper.configuration.native_redirect_uri
    %p
      Use this string for local tests:
      %code
        = Doorkeeper.configuration.native_redirect_uri

  = f.label :scopes
  = f.text_area :scopes, aria: { describedby: "Application Scopes" }

  = doorkeeper_errors_for application, :scopes

  Separate scopes with spaces. Leave blank to use the default scopes.

  = f.submit "Save", class: ""
