= form_for application, url: doorkeeper_submit_path(application), html: { class: "ui fluid form" } do |f|
  - if application.errors.any?
    .ui.message.error
      %h2= "#{ pluralize application.errors.count, "error" } prohibited this application from being saved:"
      %ul
        - application.errors.full_messages.each do |message|
          %li= message

  .required.field
    = f.label :name
    = f.text_field :name, aria: { describedby: "Application Name" }

    = doorkeeper_errors_for application, :name

  .required.field
    = f.label :redirect_uri
    = f.text_area :redirect_uri, aria: { describedby: "Application Redirect URLs" }

    = doorkeeper_errors_for application, :redirect_uri

    .ui.message
      %p= t('doorkeeper.applications.help.redirect_uri')

      - if Doorkeeper.configuration.native_redirect_uri
        %p
          = t("doorkeeper.applications.help.native_redirect_uri")
          %code
            = Doorkeeper.configuration.native_redirect_uri

  .field
    = f.label :scopes
    = f.text_area :scopes, aria: { describedby: "Application Scopes" }

    = doorkeeper_errors_for application, :scopes
    .ui.message.error
      = t('doorkeeper.applications.help.scopes')

  = f.submit "Save", class: "ui positive right floated submit button"
