- content_for :page_title do
  Developer - OAuth2 Apps

= render "profiles/tabs" do
  %h2 Developer OAuth2 Apps

  = link_to new_oauth_application_path do
    New

  %table
    %thead
      %tr
        %th Name
        %th Callback URLs
        %th Created At (UTC)

    %tbody
      - if @applications.any?
        - @applications.each do |application|
          %tr
            %td= application.name
            %td
              %pre.hidden.sm:block= application.redirect_uri
            %td= application.created_at.to_s(:long)

      - else
        %tr
          %td{ colspan: 2 }
            No applications made yet

  = paginate @applications
