- content_for :page_title do
  Viewing "#{ @application.name }"

= render "profiles/tabs" do
  %h2= @application.name

  = link_to "Edit", edit_oauth_application_path(@application)

  = link_to oauth_application_path(@application), method: :delete, data: { confirm: "Are you sure?" } do
    Delete

  Client ID:
  %code= @application.uid

  Client Secret:
  %code= @application.secret

  Scopes:
  %code= @application.scopes

  Callback URLs:
  %pre= @application.redirect_uri
