.ui.fluid.vertical.menu.sticky{ data: { behavior: "sticky", context: "#stickContext", offset: 75 } }
  .item
    .header Service Announcements
    .menu
      .item
        .ui.transparent.icon.input
          = form_tag admin_service_announcements_path, method: :get do
            = search_field_tag "q", params[:q], class: "ui prompt", placeholder: "Search ...", aria: { label: "search" }
          %i.search.link.icon

      = active_link_to admin_service_announcements_path, active: :exclusive, class: "item" do
        Index
        - if defined?(count) && count
          .ui.label= count

      = active_link_to new_admin_service_announcement_path, class: "item" do
        %i.plus.icon
        New

  = content_for :menu
