- content_for :page_title do
  Service Announcements

- content_for :menu do
  .item.hidden{ data: { group: "bulk-edit-menu" } }
    .divider
    .header Bulk Actions
    .menu
      .item
        = bulk_edit_action "deactivate-all", url: admin_service_announcements_bulk_deactivate_path, class: "ui fluid icon button" do
          %i.hide.icon
          deactivate all

      .item
        = bulk_edit_action "delete-all", url: admin_service_announcements_bulk_delete_path, class: "ui fluid icon negative basic button" do
          %i.trash.icon
          delete all



%table.ui.celled.table
  %thead
    %tr
      %th= select_all_checkbox
      %th Actions
      %th Preview

  %tbody
    - if @service_announcements.any?
      - @service_announcements.each do |service_announcement|
        %tr
          %td.collapsing= model_tag service_announcement, only: [ :id, :title ]

          %td.collapsing
            .flex.flex-col.items-center
              .ui.buttons
                = link_to admin_service_announcement_path(service_announcement), class: "ui icon button" do 
                  %i.expand.icon
                  View

                .ui.simple.dropdown.icon.button
                  %i.dropdown.icon
                  .menu
                    = link_to edit_admin_service_announcement_path(service_announcement), class: "item" do
                      %i.edit.icon
                      Edit

                    .divider
                    .header
                      %i.warning.sign.icon
                      DANGERZONE

                    = modal_tag service_announcement, :delete, url: admin_service_announcement_path(service_announcement) do
                      %i.trash.icon
                      Delete

              = button_to admin_service_announcement_path(service_announcement), method: :patch, params: { service_announcement: { active: !service_announcement.active } }, class: "button button-gray-outline hover:button-gray" do
                - if service_announcement.active
                  %i.hide.icon
                  Deactivate
                - else
                  %i.unhide.icon
                  Activate

              = service_announcement.created_at.to_s(:long)

          %td
            .flex.flex-col
              = render "components/service_announcement", service_announcement: service_announcement
              .flex.flex-row.justify-between.items-baseline
                .flex.flew-row
                  %strong.mr-1 Active?

                  - if service_announcement.active
                    %i.green.unhide.icon
                    active
                  - else
                    %i.red.hide.icon
                    inactive

                .flex.flex-row
                  %strong.mr-1 Active during:
                  - if service_announcement.start_at
                    = service_announcement.start_at.to_s(:long)
                  - else
                    No Start
                  \-
                  - if service_announcement.end_at
                    = service_announcement.end_at.to_s(:long)
                  - else
                    No End

    - else
      %h2 Nothing here
      %p No service announcements made yet

= paginate @service_announcements
