- content_for :page_title do
  Viewing "#{ @service_announcement.title }"

= model_tag @service_announcement, no_checkbox: true, only: [ :id, :title ]

.ui.menu
  = link_to edit_admin_service_announcement_path(@service_announcement), class: "item" do
    %i.edit.icon
    Edit

  = button_to admin_service_announcement_path(@service_announcement), method: :patch, params: { service_announcement: { active: !@service_announcement.active } }, class: "item" do
    - if @service_announcement.active
      %i.hide.icon
      Deactivate
    - else
      %i.unhide.icon
      Activate

  .right.menu
    .ui.simple.dropdown.item
      More
      %i.dropdown.icon
      .menu

        .header
          %i.warning.sign.icon
          DANGERZONE
        .divider

        = modal_tag @service_announcement, :delete, url: admin_service_announcement_path(@service_announcement) do
          %i.trash.icon
          Delete

%h2.ui.dividing.header Internal Stuff
%table.ui.collapsing.celled.table
  %tbody
    %tr
      %td
        %b ID
      %td
        = @service_announcement.id
    %tr
      %td
        %b Active?
      %td
        - if @service_announcement.active
          %i.green.unhide.icon
          active
        - else
          %i.red.hide.icon
          inactive
    %tr
      %td
        %b Only for Logged In Users?
      %td
        = @service_announcement.logged_in_only
    %tr
      %td
        %b Icon
      %td
        %i.icon{ class: [ @service_announcement.color, @service_announcement.icon ] }
        = @service_announcement.icon.humanize.capitalize
    %tr
      %td
        %b Color
      %td
        %i.square.icon{ class: @service_announcement.color }
        = @service_announcement.color.humanize.capitalize
    %tr
      %td
        %b Start At
      %td
        = @service_announcement.start_at&.to_s(:long)
    %tr
      %td
        %b End At
      %td
        = @service_announcement.end_at&.to_s(:long)
    %tr
      %td
        %b Created At
      %td
        = @service_announcement.created_at.to_s(:long)

%h2.ui.dividing.header Preview

= render partial: "layouts/common/service_announcements", locals: { service_announcements: [ @service_announcement ] }
