= render "layouts/common/store"

= render "layouts/admin/mobile_nav"

= render "layouts/admin/navbar"

.ui.pusher.main
  .messages
    = render_service_announcements
    = semantic_flash

  .ui.fluid.stackable.container
    - if partial_for? "menu"
      .ui.padded.two.column.stackable.grid
        .three.wide.column
          .responsive.mobile.hidden.ui.fluid.vertical.menu.sticky{ data: { behavior: "sticky", context: "#stickContext", offset: 75 } }
            = render partial: "menu", locals: { count: @count }

        .thirteen.wide.column
          #stickContext= yield

    - else
      = yield
