<div class="h-screen flex overflow-hidden">
  <div class="flex flex-shrink-0">
    <div class="flex flex-col w-64">

      <div class="flex flex-col flex-1 h-0 border-r border-gray-200 bg-gray-100">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            <%= image_tag "bug_logo.png", class: "block h-8 w-auto", alt: "transient bug" %>
            <h1>transientBug Admin</h1>
          </div>

          <nav class="mt-5 flex-1 sidebar-nav" aria-label="Sidebar">
            <div class="px-2 space-y-1 overflow-scroll">
              <%= active_link_to admin_root_url, active: :exclusive, class: "item" do %>
                <%= feather_svg "home" %>
                Dashboard
              <% end %>

              <details class="tree" open>
                <summary class="item">
                  <%= feather_svg "settings", class: "text-gray-500 mr-3 h-6 w-6" %>
                  General Admin
                </summary>

                <div class="tree-leafs" id="sub-menu-1">
                  <%= active_link_to "Service Announcements", admin_service_announcements_path, class: "item" %>
                  <%= active_link_to "OAuth Applications", admin_applications_path, class: "item" %>
                </div>
              </details>

              <details class="tree" open>
                <summary class="item">
                  <%= feather_svg "tool", class: "text-gray-500 mr-3 h-6 w-6" %>
                  System
                </summary>

                <div class="tree-leafs" id="sub-menu-4">
                  <%= active_link_to "Sidekiq", admin_sidekiq_path, class: "item" %>
                  <%= active_link_to "Logster", admin_logster_path, class: "item" %>
                </div>
              </details>

              <details class="tree" open>
                <summary class="item">
                  <%= feather_svg "bookmark", class: "text-gray-500 mr-3 h-6 w-6" %>
                  Bookmarks
                </summary>

                <div class="tree-leafs" id="sub-menu-3">
                  <%= active_link_to "Bookmarks", admin_bookmarks_path, class: "item" %>
                </div>
              </details>

              <details class="tree" open>
                <summary class="item">
                  <%= feather_svg "users", class: "text-gray-500 mr-3 h-6 w-6" %>
                  Users
                </summary>

                <div class="tree-leafs" id="sub-menu-2">
                  <%= active_link_to "Users", admin_users_path, class: "item" %>
                  <%= active_link_to "Roles", admin_roles_path, class: "item" %>
                  <%= active_link_to "Invitations", admin_invitations_path, class: "item" %>
                </div>
              </details>
            </div>
          </nav>
        </div>

        <% if partial_for? "sidebar" %>
          <div class="my-2 px-2 space-y-1 overflow-scroll border-t border-gray-200 sidebar-nav">
            <%= render partial: "sidebar" %>
          </div>
        <% end %>

        <div class="flex-shrink-0 flex border-t border-gray-200 flex-col">
          <a href="#" class="flex-shrink-0 w-full group block p-2">
            <div class="flex items-center">
              <div>
                <%= feather_svg "user", class: "inline-block h-9 w-9 rounded-full" %>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                  <%= current_user.username %>
                </p>
                <p class="text-xs font-medium text-gray-700 group-hover:text-gray-900">
                  <%= current_user.email %>
                </p>
              </div>

            </div>
          </a>

          <div class="flex flex-col space-y-1 from-limegreen-400 to-limegreen-600 bg-gradient-to-bl p-2 pt-5 sidebar-nav -secondary">
            <%= link_to root_path, class: "item", role: "menuitem" do %>
              <%= feather_svg "cloud-lightning" %>
              Exit Admin
            <% end %>

            <%= form_with url: "/logout", method: :delete, local: true do |f| %>
              <%= f.button type: :submit, class: "item", role: "menuitem" do %>
                <%= feather_svg "log-out" %>
                Log out
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col min-w-0 flex-1 overflow-hidden relative">
    <%= content_for :page_header if content_for? :page_header %>
    <div class="h-full w-full p-4 overflow-scroll">
      <%= yield %>
    </div>
  </div>
</div>

