= render partial: "layouts/admin/sidebar"

= render partial: "layouts/admin/navbar"

.ui.pusher.main
  .messages
    = render_service_announcements
    = semantic_flash

  .ui.fluid.stackable.container
    - if has_partial? "menu"
      .ui.padded.two.column.stackable.grid
        .three.wide.column
          = render partial: "menu", locals: { count: @count }

        .thirteen.wide.column
          #stickContext= yield

    - else
      = yield
