= render partial: "layouts/admin/sidebar"

= render partial: "layouts/admin/navbar"

.ui.pusher
  .ui.main.horizontally.padded.grid
    .row
      .column
        = semantic_flash

    - if lookup_context.template_exists?("admin/#{ controller_name }/menu", [], true)
      .ui.two.wide.column
        .ui.row
          = render partial: "menu", locals: { count: @count }

      .ui.fourteen.wide.column
        .ui.row
          = yield
    - else
      = yield
