%meta{ :content => "width=device-width, initial-scale=1, shrink-to-fit=no", "name" => "viewport" }
%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta{ :name => "turbolinks-cache-control", :content => "no-cache" }

= content_for :meta

%title
  transientBug Admin #{ content_for :page_title }

= csrf_meta_tags
= csp_meta_tag

:javascript
  window.__initStore__ = #{ raw yield(:store) || "{}" }

= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": "reload"
= javascript_include_tag "admin", "data-turbolinks-track": "reload", "data-turbolinks-eval": false

= stylesheet_pack_tag "admin", media: "all", "data-turbolinks-track": "reload"
= javascript_pack_tag "admin", "data-turbolinks-track": "reload", "data-turbolinks-eval": false
