.ui.sidebar.inverted.vertical.menu
  .item
    .header Admin #{ current_user.username }

  = active_link_to admin_root_path, active: :exclusive, class: "item" do
    Home
    %i.home.icon

  .item
    .header general admin

  .menu
    = active_link_to admin_service_announcements_path, class: "item" do
      service announcements
      %i.announcement.icon

  .item
    .header user admin

  .menu
    = active_link_to admin_invitations_path, class: "item" do
      invitatitons
      %i.mail.icon

    = active_link_to admin_users_path, class: "item" do
      users
      %i.users.icon

  .item
    .header bookmark related

  .menu
    = active_link_to admin_bookmarks_path, class: "item" do
      bookmarks
      %i.bookmark.icon

  .item
    .header image related

  .menu
    .item "Coming Soon"

  .item
    .header misc dev

  .menu
    = active_link_to "sidekiq", sidekiq_web_path, data: { turbolinks: false }, class: "item"
    - if Rails.env.production?
      = active_link_to "logster", logster_web_path, data: { turbolinks: false }, class: "item"

  = content_for :sidebar

  = link_to "Exit Admin", root_path, class: "item"
