.ui.top.fixed.inverted.red.menu.responsive.mobile.hidden
  .clickable.item
    %i.large.sidebar.icon

  = link_to admin_root_path, class: "header item" do
    = image_tag "bug_logo.png", class: "logo"
    transientBug Admin

  = content_for :navbar

  .right.menu
    = content_for :navbar_right

    .ui.simple.dropdown.item
      %i.user.circle.outline.icon
      = current_user.username
      %i.dropdown.icon
      .menu
        = content_for :navbar_dropdown
        = link_to "Exit Admin", root_path, class: "item"
        = link_to "Logout", logout_path, class: "item"

.ui.top.fixed.inverted.red.menu.mobile.only
  .clickable.item
    %i.large.sidebar.icon

  .right.menu
    = link_to root_path, class: "item" do
      Exit Admin
      = image_tag "bug_logo.png", class: "image"
