- content_for :page_title do
  Authorized Apps

= render partial: "profiles/tabs"

%h2.ui.dividing.header Authorized Apps

.ui.menu
  .right.menu
    = bulk_edit_action "revoke-all", url: oauth_authorized_applications_bulk_revoke_path do
      %i.trash.icon
      revoke all

%table.ui.celled.table
  %thead
    %tr
      %th= select_all_checkbox
      %th Actions
      %th Application Name
      %th Created At (UTC)
  %tbody
    - if @applications.any?
      - @applications.each do |application|
        %tr
          %td.collapsing= model_tag application, only: [:name]
          %td.collapsing
            .ui.buttons
              = modal_tag application, :revoke, url: oauth_authorized_application_path(application), class: "ui icon button" do
                %i.trash.icon
                revoke

          %td= application.name
          %td= application.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 5 }
          No applications authorized

= paginate @applications
