- content_for :page_title do
  OAuth Applications

-#- content_for :menu do
  .item.hidden{ data: { group: "bulk-edit-menu" } }
    .divider
    .header Bulk Actions
    .menu
      .item
        = bulk_edit_action "delete-all", url: admin_applications_bulk_delete_path, class: "ui fluid icon negative basic button" do
          %i.trash.icon
          delete all

%table.ui.celled.table
  %thead
    %tr
      %th= select_all_checkbox
      %th Actions
      %th ID
      %th Name
      %th Creator
      %th Created At
  %tbody
    - if @applications.any?
      - @applications.each do |application|
        %tr
          %td.collapsing= model_tag application, only: [ :id, :name ]
          %td.collapsing
            .ui.buttons
              = link_to admin_application_path(application), class: "ui icon button" do 
                %i.expand.icon
                view

              .ui.simple.dropdown.icon.button
                %i.dropdown.icon
                .menu
                  .header
                    %i.warning.sign.icon
                    DANGERZONE

                  = modal_tag application, :delete, url: admin_application_path(application) do
                    %i.trash.icon
                    delete

          %td.collapsing= application.id
          %td.collapsing= application.name
          %td.collapsing= link_to application.owner.username, admin_user_path(application.owner)


          %td.collapsing= application.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 6 }
          No OAuth applications made yet

= paginate @applications
