- content_for :page_title do
  OAuth Application

= model_tag @application, no_checkbox: true, only: [ :id, :name ]

.ui.menu
  = link_to edit_admin_application_path(@application), class: "item" do
    %i.edit.icon
    edit

  .menu.right
    .ui.simple.dropdown.item
      more
      %i.dropdown.icon
      .menu
        .header
          %i.warning.sign.icon
          DANGERZONE
        .divider

        = modal_tag @application, :delete, url: admin_application_path(@application) do
          %i.trash.icon
          delete

%h2.ui.dividing.header Internal Stuff
%table.ui.collapsing.celled.table
  %tbody
    %tr
      %td
        %b ID
      %td
        = @application.id

    %tr
      %td
        %b Name
      %td
        = @application.name

    %tr
      %td
        %b Owner
      %td
        = link_to @application.owner.username, admin_user_path(@application.owner)

    %tr
      %td
        %b Is Official?
      %td
        - if @application.official
          %i.green.check.icon
          Owned and operated by the transientBug team
        - else
          %i.ban.icon
          %strong Not
          owned or operated by the transientBug team

    %tr
      %td
        %b Created At
      %td
        = @application.created_at.to_s(:long)
