- content_for :page_title do
  Frequently Asked Questions and Other Things

%h1.dividing.header FAQ

%h2.dividing.header General
%p
  %b.question Who are you?
  .answer
    I'm just a peep in search of that perfect bookmark.

%p
  %b.question What happens if you're ran over?
  .answer
    They tend to be a lot larger than me, so the car/bus/truck is probably going to need to clean their windshield and scrape an arm or leg off of their side mirror. Eventually the server funds will run out and transientBug will be shutdown by some automated billing process which will proceed to gleefully pat itself on the back and continue on with its harrowing existence.

%p
  %b.question Can I make suggestions for new features?
  .answer
    Yup, you can either make an #{ link_to "issue", "https://github.com/transientBug/transientbug-rails/issues" } with the "suggestion" tag, or send an email to suggestions (at) transientbug.ninja and I'll look into it.

%p
  %b.question How can I report a bug?
  .answer
    %p
      If it is a bug with the website, you should use #{ link_to "these Github issues", "https://github.com/transientBug/transientbug-rails/issues" }.

    %p
      If the bug is a part of the Firefox extension, you should use #{ link_to "these Github issues", "https://github.com/transientBug/firefox-extension/issues" } instead.

    %p
      For any issue: please make sure that you aren't making a duplicate of an existing report. Also, please include as much information as you can and be detailed in the actions leading to the bug. The more information I've got, the easier it is to track down the bug; Bonus points: I'll let you know when the bug is fixed, or which github pull request or trello card you can use to track the progress.

    %p
      Alternatively, you can send an email to issues (at) transientbug.ninja and I can put it into a Github issue.

%p
  %b.question Is there a place I can track what is in progress?
  .answer
    Sure is! #{ link_to "Check out this trello board", "https://trello.com/b/rcaslGoe" }. You can also check out the Github #{ link_to "pull requests", "https://github.com/transientBug/transientbug-rails/pulls" } for current in progress work.

%h2.dividing.header Bookmarks
%p
  %b.question Why isn't X website caching offline correctly?
  .answer
    The offline caching system is pretty rudimentary at the moment. It downloads the original webpage, and attempts to grab all the directly referenced script, css and image tags within that webpage. In the off chance that your bookmarked webpage is to a site that actively tries to prevent crawlers, or a site that is rendered with flash or even JS (looking at you, react rendered blog), transientBug is unable to cache those sites at this time.

%p
  %b.question Why am I getting an error for some caches?
  .answer
    Tl;dr: No one is perfect. Chances are the page redirects too many times for transientBug to follow, or isn't a valid URL. I'm working on making transientBug smarter about handling these but sometimes that isn't good enough and the only thing transientBug can do is throw an error.

%h2.dividing.header Account
%p
  %b.question How can I close my account?
  .answer
    Send an email to support (at) transienbug.ninja from the email you registered your account with and I'll be happy to close it as soon as I can. This is an un-reversible action and fully destroys your bookmarks, de-authorizes all your applications and destroys any of your developer OAuth applications.
