- if lookup_context.template_exists?("#{ controller_name }/navbar", [], true)
  = render partial: "navbar"

// Desktop nav
.ui.top.fixed.inverted.menu.responsive.mobile.hidden
  = link_to root_path, class: "header item" do
    = image_tag "bug_logo.png", class: "logo"
    transientBug

  - if signed_in?
    = active_link_to "Bookmarks", bookmarks_path, class: "item"

    = react_component "Navbar", { path: bookmarks_search_index_path, query: params.fetch(:q, '') }, { class: "navbar-container" }

  = content_for :navbar

  .right.menu
    - if signed_in?
      .ui.item
        = active_link_to new_bookmark_path, class: "ui inverted green icon button", class_active: "active" do
          %i.bookmark.icon
          new bookmark

    = content_for :navbar_right

    - if signed_in?
      .ui.simple.dropdown.item
        %i.user.circle.outline.icon
        = current_user.username
        %i.dropdown.icon
        .menu
          = link_to "Profile", profile_path, class: "item"
          = content_for :navbar_dropdown
          - if current_user.role? :admin
            .divider
            = link_to "Admin Panel", admin_root_path, class: "item"
          = link_to "Logout", logout_path, class: "item"

    - else
      = link_to "Login", login_path, class: "item"
