- content_for :page_title do
  Bookmarks Tagged '#{ @tag.label }'

- if @bookmarks.any?
  = paginate @bookmarks

  .bg-white.shadow.overflow-hidden.rounded-md
    %ul.divide-y.divide-gray-200
      - @bookmarks.each do |bookmark|
        %li= render BookmarkCardComponent.new(bookmark: bookmark)

  = paginate @bookmarks

- else
  %h1
    No bookmarks found!

  %p
    Maybe
    = link_to "make one?", new_bookmark_path
