= form_for [:admin, invitation], html: { class: "ui fluid form" } do |f|
  - if invitation.errors.any?
    .ui.message.error
      %h2= "#{ pluralize invitation.errors.count, "error" } prohibited this invitation from being saved:"
      %ul
        - invitation.errors.full_messages.each do |message|
          %li= message

  %h4.ui.dividing.header User Facing Info 

  .required.field
    = f.label :title
    = f.text_field :title, aria: { describedby: "Invitation Title" }

  .field
    = f.label :description
    = f.text_area :description, aria: { describedby: "Invitation Description" }

  %h4.ui.dividing.header Internal Info

  .field
    = f.label :internal_note
    = f.text_area :internal_note, aria: { describedby: "Invitation Internal Note" }

    .ui.info.message
      %p It's recommended to put a little internal note about what this invitation is for.

  .required.field
    = f.label :limit
    = f.number_field :limit, aria: { describedby: "Invitation Use Limit" }

  - if invitation.new_record?
    .field
      = f.label :code
      = f.text_field :code, aria: { describedby: "Invitation Code" }
      .ui.info.message
        %p You can optionally use a custom code for this invite. If you don't choose one, one will be generated for you.

  - else
    %p
      %b Code:
      = invitation.code

  = f.submit "Save", class: "ui positive right floated submit button"
