- content_for :page_title do
  Invitations

- content_for :menu do
  .item.hidden{ data: { group: "bulk-edit-menu" } }
    .divider
    .header Bulk Actions
    .menu
      -#.item
        = bulk_edit_action "disable-all", url: admin_invitations_bulk_disable_path, class: "ui fluid icon button" do
          %i.hide.icon
          disable all

      .item
        = bulk_edit_action "delete-all", url: admin_invitations_bulk_delete_path, class: "ui fluid icon negative basic button" do
          %i.trash.icon
          delete all

%table.ui.celled.table#stickContext
  %thead
    %tr
      %th= select_all_checkbox
      %th Actions
      %th ID
      %th Code
      %th Title
      %th Description
      %th Internal Note
      %th Available
      %th Created At

  %tbody
    - if @invitations.any?
      - @invitations.each do |invitation|
        %tr
          %td.collapsing= model_tag invitation, only: [ :id, :invite_code ]
          %td.collapsing
            .ui.buttons
              = link_to admin_invitation_path(invitation), class: "ui icon button" do 
                %i.expand.icon
                view

              .ui.simple.dropdown.icon.button
                %i.dropdown.icon
                .menu
                  = link_to edit_admin_invitation_path(invitation), class: "item" do
                    %i.edit.icon
                    edit

                  .divider
                  .header
                    %i.warning.sign.icon
                    DANGERZONE

                  = modal_tag invitation, :delete, url: admin_invitation_path(invitation) do
                    %i.trash.icon
                    delete

          %td.collapsing= invitation.id
          %td.collapsing= invitation.code
          %td= invitation.title
          %td= invitation.description&.truncate 120
          %td= invitation.internal_note&.truncate 240
          %td.collapsing= invitation.available
          %td.collapsing= invitation.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 6 }
          No invitations made yet

= paginate @invitations
