- content_for :page_title do
  Viewing "#{ @invitation.title }"

= model_tag @invitation, no_checkbox: true, only: [ :id, :title, :code ]

.ui.menu
  = link_to edit_admin_invitation_path(@invitation), class: "item" do
    %i.edit.icon
    edit

  .right.menu
    .ui.simple.dropdown.item
      more
      %i.dropdown.icon
      .menu

        .header
          %i.warning.sign.icon
          DANGERZONE
        .divider

        = modal_tag @invitation, :delete, url: admin_invitation_path(@invitation) do
          %i.trash.icon
          delete

%h2.ui.dividing.header Internal Stuff
%p= @invitation.internal_note

%h2.ui.dividing.header Quick Info

%table.ui.collapsing.celled.table
  %tbody
    %tr
      %td
        %b Code
      %td
        = @invitation.code
    %tr
      %td
        %b Currently Available
      %td
        = @invitation.available
    %tr
      %td
        %b Created At
      %td
        = @invitation.created_at.to_s(:long)

%h2.ui.dividing.header End User Facing Info
%h3.header= @invitation.title
%p= @invitation.description
