- content_for :page_title do
  Searching Bookmarks

= render "bookmarks/navbar"

%h1 Search Results

.ui.search
  .ui.fluid.icon.input
    = form_tag bookmarks_search_index_path, method: :get, style: "display: flex; flex: auto;" do
      = search_field_tag "q", @query, class: "ui prompt", placeholder: "Search Bookmarks ...", aria: { label: "search" }
    %i.search.icon

- if @searcher.errors.any?
  .ui.negative.message
    - @searcher.errors.each do |field, message|
      .header A wild error appeared!
      %p
        %b #{ field.to_s.titleize }:
        = message

- if @bookmarks.any?
  = render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @bookmarks }
