- content_for :page_title do
  Searching Bookmarks

-#.ui.search
  .ui.fluid.icon.input
    = form_tag bookmarks_search_index_path, method: :get, style: "display: flex; flex: auto;" do
      = search_field_tag "q", params[:q], class: "ui prompt", placeholder: "Search Bookmarks ...", aria: { label: "search" }
    %i.search.icon

%h1 Search Results
- if @error
  = render partial: "query_error"
- elsif params[:q].blank?
  = render partial: "zero_state"
- elsif @bookmarks.empty?
  = render partial: "no_results_state"
- else
  = render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @bookmarks }
