= render "layouts/common/navbar"
= render "layouts/common/mobile_nav"

- if content_for? :sidebar_body
  .ui.pusher.main
    %aside.tb.sidebar-menu
      = content_for :sidebar

    %main.tb
      .messages
        = render_service_announcements
        = semantic_flash

      = content_for :sidebar_body

  = react_component "StoreModals"

- else
  .ui.pusher.main.old
    - if content_for? :secondary_navbar
      .ui.fluid.secondary.top.attached.stackable.menu
        = content_for :secondary_navbar

    .messages
      = render_service_announcements
      = semantic_flash

    .ui.fluid.horizontally.padded.stackable.container
      = yield
