.ui.pusher.main.old
  - if content_for? :secondary_navbar
    .ui.fluid.secondary.top.attached.stackable.menu
      = content_for :secondary_navbar

  .messages
    = render_service_announcements
    = semantic_flash

  - if content_for? :custom_grid
    = content_for :custom_grid
  - else
    .ui.fluid.horizontally.padded.stackable.container
      = yield
