= form_for @admin_role do |f|
  - if @admin_role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_role.errors.count, "error")} prohibited this admin_role from being saved:"
      %ul
        - @admin_role.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
