= form_with model: [:admin, role], class: "form", local: true, builder: AdminFormBuilder do |form|
  = form.all_errors

  = form.fieldset "Base Info" do
    = form.error_group :name do
      = form.label :name
      = form.text_field :name, aria: { describedby: "Role's Name" }

    = form.error_group :description do
      = form.label :description
      = form.text_area :description, aria: { describedby: "Role's Description" }

  = form.fieldset "Permissions" do
    = form.error_group :permission_keys do
      = form.collection_check_boxes :permission_keys, Role::PERMISSIONS, :key, :name do |role_check_box|
        = role_check_box.label do
          = role_check_box.check_box
          = role_check_box.text.humanize
        %br

  = form.actions do
    = form.submit "Save"
