- content_for :page_title, "Edit Role #{ @role.name }"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Roles", admin_roles_url
  = link_to @role.name, admin_role_url(@role)
  = link_to "Edit", edit_admin_role_url(@role), aria: { current: "page" }

.resource-list
  .resource-list__row
    = render "form", role: @role
