- content_for :page_title, "All Roles"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Roles", admin_roles_url, aria: { current: "page" }

- content_for :page_actions do
  = link_to "New", new_admin_role_url, class: "button button--gray"

- content_for :page_meta do
  .page-header__metadata
    = render "components/feather_icon", icon: "sliders"
    = "#{ @count} Role".pluralize @count
    total

- store_content records: store_records(@roles, only: [:id, :name, :description])

%ul.resource-list
  %li.resource-list__row
    .resource-list__column
      = render "components/checkbox", dataset: zob("bulk-action-select-all") do
        Select All

    .resource-list__column.w-full.items-center.flex.hidden{ ":class": { hidden: "hasNoSelection" }.to_json, **zob("bulk-action-visibility") }
      %h2 Selection:

      %span{ ":text": "selectedCount", **zob("bulk-action-count") }

      %button.button.button--gray{ "@click": "open", **zob("display-modal", modal: "bulk-add-permissions-dialog") } Add Permissions
      %button.button.button--red{ "@click": "open", **zob("display-modal", modal: "bulk-delete-dialog") } Delete

    .resource-list__column.w-full
      = paginate @roles

%ul.resource-list
  - if @roles.any?
    - @roles.each do |role|
      %li.resource-list__row
        .resource-list__column
          = render "components/checkbox", dataset: zob("bulk-action-select-single", id: role.id)

        .resource-list__column.w-full
          %div( class="text-sm leading-5 font-medium text-gray-900" )
            = role.name

        .resource-list__column.w-full.hidden( class="md:block" )
          .flex
            %strong.mr-1 Permissions:
            = role.permission_keys.length

          .flex
            %strong.mr-1 Created:
            = render "components/time", time: role.created_at

        .resource-list__column
          .button-group
            = link_to admin_role_path(role), class: "button button--gray" do
              = render "components/feather_icon", icon: "maximize"
              View

            .button.button--gray.button--icon.dropdown.dropdown--hoverable{  **zob("dropdown") }
              %button.dropdown__trigger{ **zob.on(click: "toggleIsOpen") }
                = render "components/feather_icon", icon: "chevron-down"

              .dropdown__container.hidden{ **zob.bind(class: { hidden: "isClosed" }) }
                .dropdown__menu
                  .dropdown__row
                    = link_to "Edit", edit_admin_role_path(role), class: "dropdown__link"

  - else
    %li.resource-list__row
      .resource-list__column
        No roles yet (this might be a problem, yo)

%dialog#bulk-add-permissions-dialog{ **zob("modal") }
  .modal__container
    .dialog.dialog--dark
      .dialog__header
        %h2.dialog__title Bulk add Permissions to Roles
        %button.dialog__close{ "@click": "close" }
          %kbd.kbd.kbd--dark
            esc

      .dialog__content
        %p
          All permissions selected here will be added to all the selected roles.

      .dialog__actions
        %button.button.button--blue Add Permissions
        %button.button.button--gray{ "@click": "close" } Cancel

%dialog#bulk-delete-dialog{ **zob("modal") }
  .modal__container
    .dialog.dialog--danger
      .dialog__header
        %h2.dialog__title Delete Selected Roles?
        %button.dialog__close{ "@click": "close" }
          %kbd.kbd.kbd--dark
            esc

      .dialog__content
        %p
          Are you
          %strong sure
          you want to delete these roles?

        %table.resource-list
          %thead
            %tr.resource-list__row
              %th Name
              %th Description

          %tbody
            %template{ **zob("template-selection") }
              %tr.resource-list__row
                %td{ ":text": "name" } Name
                %td{ ":text": "description" } Description

      .dialog__actions
        %button.button.button--red Delete All
        %button.button.button--gray{ "@click": "close" } Cancel
