- content_for :page_title, "Role #{ @role.name }"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Roles", admin_roles_url
  = link_to @role.name, admin_role_url(@role), aria: { current: "page" }

- content_for :page_actions do
  .button-group
    = link_to edit_admin_role_path(@role), class: "button button--gray" do
      = render "components/feather_icon", icon: "edit"
      Edit

    .button.button--gray.button--icon.dropdown.dropdown--hoverable
      = behavior_data "dropdown" do |dataset|
        %button.dropdown__trigger{  **dataset }
          = render "components/feather_icon", icon: "chevron-down"

      .dropdown__container.hidden
        .dropdown__menu
          .dropdown__row
            %h6.dropdown__header DangerZone
            = link_to "Delete", admin_role_url(@role), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown__link"

- content_for :page_meta do
  .page-header__metadata
    - user_count = @role.users.count
    = render "components/feather_icon", icon: "users"
    = "#{ user_count } User".pluralize user_count

  .page-header__metadata
    - permission_count = @role.permission_keys.length
    = render "components/feather_icon", icon: "sliders"
    = "#{ permission_count } Permission".pluralize permission_count

.resource-list
  .resource-list__row
    .resource__list__col
      %strong.mr-1 Name:
      = @role.name

    .resource__list__col
      %strong.mr-1 ID:
      = @role.id

  .resource-list__row
    .resource__list__col
      %strong.mr-1 Description:
      = @role.description

  .resource-list__row
    .resource__list__col
      %strong.mr-1 Created:
      = render "components/time", time: @role.created_at

  .resource-list__row
    .resource__list__col
      %strong.mr-1 Permissions:
      %ul
        - @role.permissions.each do |permission|
          %li
            = permission.name
            \-
            = permission.description
