- content_for :page_title, "Admin Dashboard"

%h2( class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate" ) General Admin

%ul
  %li= link_to "Service Announcements", admin_service_announcements_path
  %li= link_to "Oauth Applications", admin_applications_path

%h2( class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate" ) User Admin

%ul
  %li= link_to "Invitations", admin_invitations_path
  %li= link_to "Roles", admin_roles_path
  %li= link_to "Users", admin_users_path

%h2( class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate" ) Bookmark Related

%ul
  %li= link_to "Bookmarks", admin_bookmarks_path

%h2( class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate" ) Misc

%ul
  %li= link_to "Sidekiq", sidekiq_web_path, data: { turbolinks: false }
  - if Rails.env.production?
    %li= link_to "Logster", logster_web_path, data: { turbolinks: false }
