- content_for :page_title do
  Home

.ui.padded.equal.width.stackable.grid
  .column
    %h2.dividing.header general admin

    .ui.list
      = link_to "service announcements", admin_service_announcements_path, class: "item"

  .column
    %h2.dividing.header user admin

    .ui.list
      = link_to "invitations", admin_invitations_path, class: "item"
      = link_to "users", admin_users_path, class: "item"

  .column
    %h2.dividing.header bookmark related

    .ui.list
      = link_to "bookmarks", admin_bookmarks_path, class: "item"

  .column
    %h2.dividing.header image related

    .ui.list
      .item "Coming Soon"

  .column
    %h2.dividing.header misc dev

    .ui.list
      = link_to "sidekiq", sidekiq_web_path, data: { turbolinks: false }, class: "item"
      = link_to "logster", logster_web_path, data: { turbolinks: false }, class: "item"
