- content_for :page_title, "Home"

%h2 General Admin

= link_to "Service Announcements", admin_service_announcements_path
= link_to "Oauth Applications", admin_applications_path

%h2 User Admin

= link_to "Invitations", admin_invitations_path
= link_to "Roles", admin_roles_path
= link_to "Users", admin_users_path

%h2 Bookmark Related

= link_to "Bookmarks", admin_bookmarks_path

%h2 Misc

= link_to "Sidekiq", sidekiq_web_path, data: { turbolinks: false }
= link_to "Logster", logster_web_path, data: { turbolinks: false }
