= form_with model: user, url: admin_user_password_index_url(user), method: :post, local: true, class: "form", builder: AdminFormBuilder do |form|
  = form.all_errors

  = form.fieldset "Password" do
    = form.error_group :password do
      = form.label :password
      = form.password_field :password, aria: { describedby: "Users Password" }

    = form.error_group :password_confirmation do
      = form.label :password_confirmation
      = form.password_field :password_confirmation, aria: { describedby: "Users Password Confirmation" }

  = form.actions do
    = form.submit "Save"
