- content_for :page_title do
  Reseting Password for "#{ @user.username }"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Users", admin_users_url
  = link_to @user.username, admin_user_url(@user)
  = link_to "Change Password", admin_user_password_index_url(@user), aria: { current: "page" }

.resource-list
  .resource-list__row
    = render "form", user: @user
