= render "layouts/common/navbar"
= render "layouts/common/mobile_nav"

.ui.pusher.main.old
  - if content_for? :secondary_navbar
    .ui.fluid.secondary.top.attached.stackable.menu
      = content_for :secondary_navbar

  .messages
    = render_service_announcements
    = semantic_flash

  .ui.fluid.horizontally.padded.stackable.container
    = yield
