<%= render CardComponent.new do |c| %>
  <%= c.body do %>
    <div class="sm:flex items-center justify-between">
      <p class="font-medium text-royalblue-700 truncate">
        <%= link_to @bookmark.title, bookmark_path(@bookmark) %>

        <small class="text-gray-500 text-sm">
          (<%= link_to @bookmark.to_addressable.host.to_s, @bookmark.uri, title: @bookmark.uri %>)
        </small>

        <small class="text-gray-500 text-xs">
          <%= link_to "Edit", edit_bookmark_path(@bookmark), title: "Edit" %>
        </small>
      </p>
    </div>

    <% if @bookmark.description %>
      <div class="mt-2 sm:flex sm:justify-between items-baseline">
        <p><%= truncate @bookmark.description %></p>
      </div>
    <% end %>

    <div class="mt-2 sm:flex sm:justify-between items-baseline">
      <div class="sm:flex">
        <%= render RelativeTimeComponent.new(time: @bookmark.created_at) %>
      </div>

      <div class="flex-shrink-0 flex space-x-1 mt-2 sm:mt-0">
        <%= render TagComponent.with_collection(@bookmark.tags) %>
      </div>
    </div>
  <% end %>
<% end %>
