.bg-white.shadow.overflow-hidden.md:rounded-md.px-4.py-4.sm:px-6
  .sm:flex.items-center.justify-between
    %p.font-medium.text-royalblue-700.truncate
      = link_to @bookmark.title, bookmark_path(@bookmark)
      %small.text-gray-500.text-sm (#{ link_to @bookmark.uri.host.to_s, @bookmark.uri.to_s, title: @bookmark.uri.to_s })

  - if @bookmark.description
    .mt-2.sm:flex.sm:justify-between.items-baseline
      %p= truncate @bookmark.description

  .mt-2.sm:flex.sm:justify-between.items-baseline
    .sm:flex
      = render RelativeTimeComponent.new(time: @bookmark.created_at)

    .flex-shrink-0.flex.space-x-1.mt-2.sm:mt-0
      = render TagComponent.with_collection(@bookmark.tags)
