<%= default_form_with model: [:admin, @user], data: { turbo: false } do |f| %>
  <% if @user.errors.any? %>
    <h2><%= pluralize @user.errors.count, "error" %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.section title: "Profile", subtitle: "" do %>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= f.text_field :username %>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= f.text_field :email %>
      </div>
    </div>

    <% if @user.new_record? %>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= f.password_field :password %>
        </div>

        <div class="sm:col-span-3">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    <% else %>
      To edit the users password, please use the separate "Change password" flow to help prevent accidental changes.
    <% end %>
  <% end %>

  <%= f.section title: "Permissions", subtitle: "" do %>
    <% if current_user == @user %>
      For safety reasons, you aren't allowed to edit your own roles. Please have another Admin do so for you.
    <% else %>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |role_check_box| %>
            <%= role_check_box.label class: "font-medium text-gray-700" do %>
              <div class="relative flex items-start">
                <div class="flex items-center h-5">
                  <%= role_check_box.check_box class: "focus:ring-limegreen-500 h-4 w-4 text-limegreen-600 border-gray-300 rounded" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= role_check_box.text.humanize %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn -primary" %>
  </div>
<% end %>
