= form_with model: [:admin, user], local: true, class: "form" do |form|
  - if user.errors.any?
    .form__errors
      %h2= "#{ pluralize user.errors.count, "error" } prohibited this user from being saved:"
      %ul.form__errors-list
        - user.errors.full_messages.each do |message|
          %li.form__errors-item= message

  %fieldset.form__fieldset
    %legend.form__legend Profile Info

    - form.errors_for :username do |has_error, error_messages|
      .form__field{ class: ("form__field--error" if has_error) }
        = form.label :username, class: "form__label"
        = form.text_field :username, aria: { describedby: "Users Username" }, class: "form__input"

        - if has_error
          %p.form__field-error= error_messages.join(", ")

    - form.errors_for :username do |has_error, error_messages|
      .form__field{ class: ("form__field--error" if has_error) }
        = form.label :email, class: "form__label"
        = form.email_field :email, aria: { describedby: "Users Email" }, class: "form__input"

        - if has_error
          %p.form__field-error= error_messages.join(", ")

    - if user.new_record?
      - form.errors_for :username do |has_error, error_messages|
        .form__field{ class: ("form__field--error" if has_error) }
          = form.label :password, class: "form__label"
          = form.password_field :password, aria: { describedby: "Users Password" }, class: "form__input"

          - if has_error
            %p.form__field-error= error_messages.join(", ")

      - form.errors_for :username do |has_error, error_messages|
        .form__field{ class: ("form__field--error" if has_error) }
          = form.label :password_confirmation, class: "form__label"
          = form.password_field :password_confirmation, aria: { describedby: "Users Password Confirmation" }, class: "form__input"

          - if has_error
            %p.form__field-error= error_messages.join(", ")

    - else
      .form__field
        = form.label :password, class: "form__label"
        %p To edit the users password, please use the separate "Change password" flow to help prevent accidental changes.

  %fieldset.form__fieldset
    %legend.form__legend Permissions

    - form.errors_for :role_ids do |has_error, error_messages|
      .form__field{ class: ("form__field--error" if has_error) }
        - if current_user == user
          %p For safety reasons, you aren't allowed to edit your own roles. Please have another Admin do so for you.

        - else
          = form.collection_check_boxes :role_ids, Role.all, :id, :name do |role_check_box|
            = role_check_box.label do
              = role_check_box.check_box
              = role_check_box.text.humanize
            %br

  .form__actions
    = form.submit "Save", class: "button button--green"
