= form_with model: [:admin, user], local: true, class: "form", builder: AdminFormBuilder do |form|
  = form.all_errors

  = form.fieldset "Profile Info" do
    = form.error_group :username do
      = form.label :username
      = form.text_field :username, aria: { describedby: "Users Username" }

    = form.error_group :username do
      = form.label :email
      = form.email_field :email, aria: { describedby: "Users Email" }

    - if user.new_record?
      = form.error_group :username do
        = form.label :password
        = form.password_field :password, aria: { describedby: "Users Password" }

      = form.error_group :username do
        = form.label :password_confirmation
        = form.password_field :password_confirmation, aria: { describedby: "Users Password Confirmation" }

    - else
      .form__field
        = form.label :password
        %p To edit the users password, please use the separate "Change password" flow to help prevent accidental changes.

  = form.fieldset "Permissions" do
    = form.error_group :role_ids do
      - if current_user == user
        %p For safety reasons, you aren't allowed to edit your own roles. Please have another Admin do so for you.

      - else
        = form.collection_check_boxes :role_ids, Role.all, :id, :name do |role_check_box|
          = role_check_box.label do
            = role_check_box.check_box
            = role_check_box.text
          %br

  = form.actions do
    = form.submit "Save"
