= form_for [:admin, user], html: { class: "ui fluid form" } do |f|
  - if user.errors.any?
    .ui.message.error
      %h2= "#{ pluralize user.errors.count, "error" } prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |message|
          %li= message

  .ui.equal.width.grid
    .ui.column
      %h4.ui.dividing.header User Info

      .required.field
        = f.label :username
        = f.text_field :username, aria: { describedby: "Users Username" }

      .required.field
        = f.label :email
        = f.email_field :email, aria: { describedby: "Users Email" }

      - if user.new_record?
        .required.field
          = f.label :password
          = f.password_field :password, aria: { describedby: "Users Password" }

        .required.field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, aria: { describedby: "Users Password Confirmation" }

    .ui.column
      %h4.ui.dividing.header Roles

      - if current_user == user
        %p For safety reasons, you aren't allowed to edit your own roles. Please have another Admin do so for you.

      - else
        = f.collection_check_boxes :role_ids, Role.all, :id, :name do |d|
          .field
            .ui.checkbox
              = d.check_box
              = d.label

  = f.submit "Save", class: "ui positive right floated submit button"
