- content_for :page_title, "All Users"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Users", admin_users_url, aria: { current: "page" }

- content_for :page_actions do
  = link_to "New", admin_users_url, class: "button button--gray"

%ul( class="min-w-full leading-normal border-gray-300 rounded-md border shadow-sm bg-white" )
  - if @users.any?
    - @users.each do |user|
      %li( class="px-5 py-5 border-b border-gray-300 text-sm" )
        %div( class="flex items-center justify-between" )
          %div.mr-2
            = render "components/checkbox"

          %div.w-full.mr-2
            %div( class="text-sm leading-5 font-medium text-gray-900" )
              = user.username
            %div( class="text-sm leading-5 text-gray-500" )
              = user.email

          %div.w-full.mr-2.hidden( class="md:block" )
            .flex
              %strong.mr-1 Roles:
              %ul
                - user.roles.map(&:name).map(&:humanize).each do |role|
                  %li= role

            .flex
              %strong.mr-1 Created:
              = render "components/time", time: user.created_at

          %div
            .flex.flex-row
              = link_to admin_user_path(user), class: "" do 
                %i.expand.icon
                View

              .dropdown.dropdown--hoverable
                = behavior_data "dropdown" do |dataset|
                  %button.dropdown__trigger{ **dataset }
                    %svg( viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline" )
                      %line( x1="3" y1="12" x2="21" y2="12" )
                      %line( x1="3" y1="6" x2="21" y2="6" )
                      %line( x1="3" y1="18" x2="21" y2="18" )

                .dropdown__container.hidden
                  .dropdown__menu
                    .dropdown__row
                      %h6.dropdown__header DangerZone
                      = link_to "Edit", edit_admin_user_path(user), class: "dropdown__link"

  - else
    %li( class="px-5 py-5 border-b border-gray-200 bg-white text-sm" )
      No users yet (this might be a problem, yo)

= paginate @users
