- content_for :page_title do
  Users

- content_for :menu do
  .item.hidden{ data: { behavior: "bulk-edit-menu" } }
    .divider
    .header Bulk Actions
    .menu
      .item Nothing Here Yet
      -#.item
        .ui.fluid.icon.button
          %i.hide.icon
          disable all

      -#.item
        .ui.fluid.icon.negative.basic.button
          %i.trash.icon
          delete all

%table.ui.celled.table#stickContext
  %thead
    %tr
      %th= check_box_tag "select-all", nil, false, data: { behavior: "select-all" }
      %th Actions
      %th ID
      %th Username
      %th Email
      %th Created At
  %tbody
    - if @users.any?
      - @users.each do |user|
        %tr
          %td.collapsing= check_box_tag "select-#{ user.id }", nil, false, data: { id: user.id, behavior: "select" }
          %td.collapsing
            .ui.buttons
              = link_to admin_user_path(user), class: "ui icon button" do 
                %i.expand.icon
                view

              .ui.simple.dropdown.icon.button
                %i.dropdown.icon
                .menu
                  .divider
                  .header
                    %i.warning.sign.icon
                    DANGERZONE

                  = link_to edit_admin_user_path(user), class: "item" do
                    %i.edit.icon
                    edit

          %td.collapsing= user.id
          %td= user.username
          %td= user.email
          %td.collapsing= user.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 6 }
          No users yet (this might be a problem, yo)

= paginate @users
