- content_for :page_title, "All Users"

- content_for :breadcrumbs do
  = link_to "Home", admin_root_url
  = link_to "Users", admin_users_url, aria: { current: "page" }

- content_for :page_actions do
  = link_to "New", new_admin_user_url, class: "button button--gray"

- content_for :page_meta do
  .page-header__metadata
    = render "components/feather_icon", icon: "users"
    = "#{ @count} User".pluralize @count
    total

%ul.resource-list
  %li.resource-list__row
    .resource-list__column
      -#= render "components/checkbox" do
        Select All

    .resource-list__column.w-full

    .resource-list__column.w-full
      = paginate @users

%ul.resource-list
  - if @users.any?
    - @users.each do |user|
      %li.resource-list__row
        .resource-list__column
          -#= render "components/checkbox"

        .resource-list__column.w-full
          %div( class="text-sm leading-5 font-medium text-gray-900" )
            = user.username
          %div( class="text-sm leading-5 text-gray-500" )
            = user.email

        .resource-list__column.w-full.hidden( class="md:block" )
          .flex
            %strong.mr-1 Roles:
            - user.roles.map(&:name).map(&:humanize).each do |role|
              %span.px-2.inline-flex.text-xs.leading-5.font-semibold.rounded-full.bg-gray-200.text-gray-800.mx-1= role

          .flex
            %strong.mr-1 Created:
            = render "components/time", time: user.created_at

        .resource-list__column
          .button-group
            = link_to admin_user_path(user), class: "button button--gray" do
              = render "components/feather_icon", icon: "maximize"
              View

            .button.button--gray.button--icon.dropdown.dropdown--hoverable
              = behavior_data "dropdown" do |dataset|
                %button.dropdown__trigger{  **dataset }
                  = render "components/feather_icon", icon: "chevron-down"

              .dropdown__container.hidden
                .dropdown__menu
                  .dropdown__row
                    = link_to "Edit", edit_admin_user_path(user), class: "dropdown__link"
                  .dropdown__row
                    %h6.dropdown__header DangerZone
                    = link_to "Change Password", admin_user_password_index_path(user), class: "dropdown__link"

  - else
    %li( class="px-5 py-5 border-b border-gray-300 text-sm" )
      No users yet (this might be a problem, yo)
