- content_for :page_title do
  Viewing "#{ @user.username }"

.ui.menu
  = link_to edit_admin_user_path(@user), class: "item" do
    %i.edit.icon
    edit

  = link_to admin_user_password_index_path(@user), class: "item" do
    %i.unlock.alternative.icon
    change password

%h2.ui.dividing.header Internal Stuff
%table.ui.collapsing.celled.table
  %tbody
    %tr
      %td
        %b ID
      %td
        = @user.id
    %tr
      %td
        %b Username
      %td
        = @user.username
    %tr
      %td
        %b Email
      %td
        = @user.email
    %tr
      %td
        %b Roles
      %td
        = @user.roles.map(&:name).join ", "
    %tr
      %td
        %b Created At
      %td
        = @user.created_at.to_s(:long)

%h2.ui.dividing.header High Level Stats

.ui.statistics
  .statistic
    - bookmark_count = @user.bookmarks.count
    .value= bookmark_count
    .label= "Bookmark".pluralize bookmark_count

  .statistic
    - image_count = @user.images.count
    .value= image_count
    .label= "Image".pluralize image_count
