- content_for :page_title do
  Bookmarks

- content_for :menu do
  .item.hidden{ data: { behavior: "bulk-edit-menu" } }
    .divider
    .header Bulk Actions
    .menu
      .item
        .ui.fluid.icon.button
          %i.download.icon
          recache all

      .item
        .ui.fluid.icon.negative.basic.button
          %i.trash.icon
          delete all

%table.ui.celled.table#stickContext
  %thead
    %tr
      %th= check_box_tag "select-all", nil, false, data: { behavior: "select-all" }
      %th Actions
      %th Creator
      %th URL
      %th Tags
      %th Created At
  %tbody
    - if @bookmarks.any?
      - @bookmarks.each do |bookmark|
        %tr
          %td.collapsing= check_box_tag "select-#{ bookmark.id }", nil, false, data: { id: bookmark.id, behavior: "select" }
          %td.collapsing
            .ui.buttons
              = link_to admin_bookmark_path(bookmark), class: "ui icon button" do 
                %i.expand.icon
                view

              .ui.simple.dropdown.icon.button
                %i.dropdown.icon
                .menu
                  = link_to edit_admin_bookmark_path(bookmark), class: "item" do
                    %i.edit.icon
                    edit

                  .item
                    %i.download.icon
                    recache

                  .divider
                  .header
                    %i.warning.sign.icon
                    DANGERZONE

                  .item{ data: { behavior: "modal", template: "admin/templates/bookmarks/delete", url: admin_bookmark_path(bookmark), username: bookmark.user.username, title: bookmark.title } }
                    %i.trash.icon
                    delete

          %td.collapsing= link_to bookmark.user.username, admin_user_path(bookmark.user)
          %td= bookmark.uri_string
          %td.collapsing= bookmark.tags.map(&:label).join ", "
          %td.collapsing= bookmark.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 6 }
          No bookmarks made yet

= paginate @bookmarks
