- content_for :page_title do
  Bookmarks
- content_for :menu do
  .bulk-action-menu
    .hidden
      %h2
        Bulk Actions
        %small
          (
            %span
          selected bookmarks )

        %button{ class: "button button-light-gray button-gray-outline text-gray-800 hover:button-gray" }
          %i.tags.icon
          Add Tags

        %button{ class: "button button-red-outline hover:button-red text-red hover:text-white" }
          %i.trash.icon
          Delete All

= paginate @bookmarks

%table.ui.celled.table
  %thead
    %tr
      %th
        = render "components/checkbox"

      %th Actions
      %th ID
      %th Creator
      %th URL
      %th Tags
      %th Cache
      %th Created At
  %tbody
    - if @bookmarks.any?
      - @bookmarks.each do |bookmark|
        %tr
          %td.collapsing
            = render "components/checkbox"

          %td.collapsing
            .ui.buttons
              = link_to admin_bookmark_path(bookmark), class: "ui icon button" do 
                %i.expand.icon
                view

              .ui.simple.dropdown.icon.button
                %i.dropdown.icon
                .menu
                  %i.download.icon
                  recache

                  .divider
                  .header
                    %i.warning.sign.icon
                    DANGERZONE

                  %i.trash.icon
                  delete

          %td.collapsing= bookmark.id
          %td.collapsing= link_to bookmark.user.username, admin_user_path(bookmark.user)
          %td= bookmark.uri.to_s
          %td.collapsing= bookmark.tags.map(&:label).join ", "

          %td.collapsing
            - if bookmark.offline_caches.last
              = error_count_label bookmark.offline_caches.last.error_messages
            - else
              .ui.label
                %i.meh.icon
                Uncached

          %td.collapsing= bookmark.created_at.to_s(:long)

    - else
      %tr
        %td{ colspan: 6 }
          No bookmarks made yet

= paginate @bookmarks
