.card
  = link_to image_path(image), class: "ui fluid image" do
    - if image.disabled?
      .ui.red.ribbon.label Disabled
    = image_tag image_path(image, format: :gif)

  .content
    = link_to image.title, image_path(image), class: "header"

    .meta
      Added #{ image.created_at.to_date.to_s(:long) }

    .description

    .extra
      .ui.labels
        - image.tags.each do |tag|
          = link_to tag_images_path(tag) do
            .ui.label{ class: [color_for(tag)] }= tag

  .ui.buttons.bottom.attached
    = link_to "View", image, class: "ui button"

    - if policy(image).update?
      .or
      = link_to "Edit", edit_image_path(image), class: "ui primary button"
