= form_for image, html: { class: "ui centered fluid form" } do |f|
  - if image.errors.any?
    .ui.message.error
      %h2= "#{ pluralize image.errors.count, "error" } prohibited this image from being saved:"
      %ul
        - image.errors.full_messages.each do |message|
          %li= message

  .required.field
    = f.label :title
    = f.text_field :title, aria: { describedby: "Image title" }

  .field
    = f.label :tags
    .ui.multiple.search.selection.dropdown{ data: { behavior: "autocomplete-image-tags" } }
      = f.text_field :tags, value: image.tags.join(","), style: "display: none", autocomplete: "off", data: { behaviour: "init" }
      %i.dropdown.icon
      .default.text Search Tags

  .field
    = f.label :source
    = f.text_field :source, aria: { describedby: "Image source" }

  .field
    .ui.toggle.checkbox
      = f.check_box :disabled, aria: { describedby: "Disable Image" }
      = f.label :disabled

  - if image.new_record?
    .field
      = f.file_field :image, aria: { describedby: "Image file" }

  = f.submit "Save", class: "ui positive right floated submit button"
