= form_for @image do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control", aria: { describedby: "Image title" }

  .form-group
    = f.label :tags
    = f.text_field :tags, class: "form-control", aria: { describedby: "Image tags" }

  .form-group
    = f.label :source
    = f.text_field :source, class: "form-control", aria: { describedby: "Image source" }

  .form-group
    = f.label :image, class: "custom-file" do
      = f.file_field :image, class: "custom-file-input", aria: { describedby: "Image file" }
      %span.custom-file-control

  = f.submit "Save", class: "btn btn-primary"
