- content_for :page_title do
  = @image.title

= render "navbar"

- content_for :body do
  .ui.grid.container
    .row
      %h1= @image.title

    .row
      = image_tag @image.image, class: "ui top attached centered image"

      - if policy(@image).update?
        .ui.bottom.attached.menu
          = link_to "Edit", edit_image_path(@image), class: "item"

    .row
      = render partial: "tags", locals: { tags: @image.tags }
