- content_for :meta do
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:url", content: request.original_url }
  %meta{ property: "og:title", content: @image.title }
  %meta{ property: "og:description", content: @image.tags.join(", ") }
  %meta{ property: "og:image", content: ("https://transientbug.ninja" + image_path(@image, format: :gif)) }

  %meta{ name: "twitter:card", content: "summary_large_image" }
  %meta{ name: "twitter:domain", content: "https://transientbug.ninja/" }
  %meta{ name: "twitter:title", content: @image.title }
  %meta{ name: "twitter:description", content: @image.tags.join(", ") }
  %meta{ name: "twitter:image", content: ("https://transientbug.ninja" + image_path(@image, format: :gif)) }
  %meta{ name: "twitter:url", content: request.original_url }

- content_for :page_title do
  = @image.title

- content_for :secondary_navbar do
  - if policy(@image).update?
    = link_to "edit", edit_image_path(@image), class: "ui item"

  .ui.item{ style: "padding: 0px;" }
    .ui.small.labels
      - @image.tags.each do |tag|
        = link_to tag_images_path(tag) do
          .ui.label{ class: [color_for(tag)] }= tag

    - unless @image.source.blank?
      .ui.item
        %b Source: #{link_to @image.source, @image.source}

  .right.menu
    .ui.item
      Last Updated: #{ @image.updated_at.to_date.to_s(:long) }

%h1= @image.title

= link_to image_path(@image, format: :gif) do
  - if @image.disabled?
    .ui.red.ribbon.label Disabled
  = image_tag image_path(@image, format: :gif)
