- content_for :meta do
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:url", content: request.original_url }
  %meta{ property: "og:title", content: @image.title }
  %meta{ property: "og:description", content: @image.tags.join(", ") }
  %meta{ property: "og:image", content: ("https://transientbug.ninja" + image_path(@image, format: :gif)) }

  %meta{ name: "twitter:card", content: "summary_large_image" }
  %meta{ name: "twitter:domain", content: "https://transientbug.ninja/" }
  %meta{ name: "twitter:title", content: @image.title }
  %meta{ name: "twitter:description", content: @image.tags.join(", ") }
  %meta{ name: "twitter:image", content: ("https://transientbug.ninja" + image_path(@image, format: :gif)) }
  %meta{ name: "twitter:url", content: request.original_url }

- content_for :page_title do
  = @image.title

= render "navbar"

- content_for :body do
  .ui.fluid.grid
    .row
      %h1= @image.title

    .row
      = link_to image_path(@image, format: :gif), class: "ui top attached centered image" do
        = image_tag image_path(@image, format: :gif)

    .row
      .ui.fluid.menu
        - if policy(@image).update?
          = link_to "Edit", edit_image_path(@image), class: "item"

        .right.menu
          .ui.item
            Updated: #{ @image.updated_at.to_date.to_s(:long) }

    .row
      = render partial: "tags", locals: { tags: @image.tags }
