= javascript_tag nonce: true, "data-turbolinks-track": "reload", "data-turbolinks-eval": true do
  window.__initStore__ = {}
  - if content_for? :store
    window.__initStore__ = #{ raw content_for(:store) }

= render partial: "layouts/navbar"

- if content_for? :custom_body
  = content_for :custom_body

- elsif content_for? :sidebar_body
  = render partial: "layouts/application/sidebar"

- else
  = render partial: "layouts/application/old_body"
