= render partial: "layouts/navbar"

.ui.dimmer
  .ui.loader#page-loader

.ui.pusher
  .ui.main.fluid.container
    = content_for :non_fluid

    .margined
      = render_service_announcements

      = semantic_flash
      = yield
