= javascript_tag nonce: true, "data-turbolinks-track": "reload", "data-turbolinks-eval": true do
  window.__initStore__ = {}
  - if content_for? :store
    window.__initStore__ = #{ raw content_for(:store) }

= render partial: "layouts/navbar"

- if content_for? :custom_body
  = content_for :custom_body

- else
  .ui.dimmer
    .ui.loader#page-loader

  .ui.pusher.main
    - if content_for? :secondary_navbar
      .ui.fluid.secondary.top.attached.stackable.menu
        = content_for :secondary_navbar

    .messages
      = render_service_announcements
      = semantic_flash

    - if content_for? :custom_grid
      = content_for :custom_grid
    - else
      .ui.fluid.horizontally.padded.stackable.container
        = yield
