.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.stackable.inverted.divided.grid
      .three.wide.column
        %h4.ui.inverted.header All the Links!
        .ui.inverted.link.list
          .item= link_to "Home", home_path
          .item= link_to "Images", images_path

          - if signed_in?
            .item= link_to "Bookmarks", bookmarks_path
            .item= link_to "Profile", profile_path

          - if Rails.env.development?
            .item= link_to "Dev Auth", auth_path(:developer)

      .three.wide.column
        %h4.ui.inverted.header All the Love!
        %p
          Made with
        %p
          %i.red.heart.icon
        %p
          in Boulder, Colorado

      .three.wide.column
        %h4.ui.inverted.header All the Credits!
        .ui.inverted.link.list
          .item=link_to "Semantic UI", "https://semantic-ui.com/"
          .item= link_to "Rails 5.2", "https://github.com/rails/rails"
          .item
            = link_to "https://github.com/transientBug/transientbug-rails" do
              %i.github.icon
              The codez

      .seven.wide.column
        %h4.ui.inverted.header transientBug
        %p Dedicated to being the personal storagemahjigger for these newfangled anima-motion stillframes called "gah-iffs"

    .ui.inverted.section.divider

    = image_tag "bug_logo.png", class: "ui centered mini image"

    .ui.horizontal.inverted.small.divided.link.list
      -#.item Site Map
      .item me (at) transientbug.ninja
      .item= link_to "FAQ", faq_path
      -#.item Terms and Conditions
      -#.item Privacy Policy
