%meta{ :content => "width=device-width, initial-scale=1, shrink-to-fit=no", "name" => "viewport" }
%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta{ :name => "turbolinks-cache-control", :content => "no-cache" }

= content_for :meta

%title
  transientBug #{ content_for :page_title }

= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag "public", media: "all", "data-turbolinks-track": "reload"
= stylesheet_pack_tag "public", media: "all", "data-turbolinks-track": "reload"
