- if lookup_context.template_exists?("#{ controller_name }/navbar", [], true)
  = render partial: "navbar"

= javascript_pack_tag "query_builder"

.ui.top.fixed.inverted.menu
  = link_to root_path, class: "header item" do
    = image_tag "bug_logo.png", class: "logo"
    transientBug

  - if signed_in?
    = active_link_to "Bookmarks", bookmarks_path, class: "item"

    -#.ui.tb.nav.category.search{ data: { behavior: "search-bookmarks" } }
      .ui.icon.input
        = form_with url: bookmarks_search_index_path, method: :get, local: true do
          = search_field_tag "q", params[:q], placeholder: "Search Bookmarks ...", class: "prompt", aria: { label: "Search" }
        %i.search.icon
      .results


    .tb.navbar.search.active
      .tb.navbar-item
        .tb.header
          .tb.title Earth Rendering
          .tb.query
            %small earth +tag:computers +( created_date:[2014-01-01,2018-06-14] ) -host:wired.com

        .tb.key
          .key-combo
            %kbd.dark /

      .tb.dropdown
        .tb.content
          Query builder goes here
          -#.query_builder{ data: { url: bookmarks_search_index_path, method: "POST", config: BookmarksSearcher.normalized_config.to_json, query: "{}" } }

        .tb.tips
          .left
            .key-combo
              %kbd.dark &#8984;
              +
              %kbd.dark k
              Up one Clause

            .key-combo
              %kbd.dark &#8984;
              +
              %kbd.dark j
              Down one Clause

          .center
            .key-combo
              %kbd.dark &#8984;
              +
              %kbd.dark &crarr;
              Search

          .right
            .key-combo
              %kbd.dark ?
              Help

            .key-combo
              %kbd.dark esc
              Close search


  = content_for :navbar

  .right.menu
    - if signed_in?
      .ui.item
        = active_link_to new_bookmark_path, class: "ui inverted green icon button", class_active: "active" do
          %i.bookmark.icon
          new bookmark

    = content_for :navbar_right

    - if signed_in?
      .ui.simple.dropdown.item
        %i.user.circle.outline.icon
        = current_user.username
        %i.dropdown.icon
        .menu
          = link_to "Profile", profile_path, class: "item"
          = link_to "Admin Panel", admin_root_path, class: "item" if current_user.role? :admin
          = link_to "Logout", logout_path, class: "item"

    - else
      = link_to "Login", login_path, class: "item"
