!!! 5
%html
  %head
    = render "layouts/common/head" do
      %title transientBug Admin #{ content_for :page_title }

      = stylesheet_pack_tag "admin", media: "all", "data-turbolinks-track": "reload"
      = javascript_pack_tag "admin", "data-turbolinks-track": "reload", "data-turbolinks-eval": false

  %body.layout__body{ class: "admin__#{ controller_name }--#{ action_name }" }
    = render "layouts/common/store"

    = render partial: "layouts/admin-tailwind/navbar"

    %header.page-header
      %div.page-header__container
        - if content_for? :breadcrumbs
          %div.page-header__row
            = render "components/admin/breadcrumbs" do
              = content_for :breadcrumbs

        %div.page-header__row
          %div.page-header__main
            %h2.page-header__title= content_for :page_title
            - if content_for? :page_meta
              %div.page-header__meta
                = content_for :page_meta

          - if content_for? :page_actions
            %div.page-header__actions
              = content_for :page_actions

    %main.layout__main
      %div.layout__content
        .flashes
          .flashes__container
            - flash.each do |type, message|
              .flashes__flash{ class: "flashes__flash--#{ type }", role: "alert", **zob("flash") }
                .flashes__message= message

                .flashes__close
                  %button.flashes__close-button{ "@click": "close" }
                    = render "components/feather_icon", icon: "x"

        -#= render_service_announcements

        -#%div( class="border-4 border-dashed border-gray-200 rounded-lg h-96" )

        = yield
