!!! 5
%html
  %head
    = render "layouts/common/head" do
      %title transientBug Admin #{ content_for :page_title }

      = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
      = javascript_pack_tag "application", "data-turbolinks-track": "reload", "data-turbolinks-eval": false

  %body{ class: [  controller_name, action_name ] }
    = render "layouts/admin/body"
